<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>University - Course information</title>
</head>
<body>
	<div th:insert="templates/navbar :: bootstrap"></div>

	<div th:insert="templates/navbar :: navbar"></div>
	
	<h2>
		<p class="text-center">Course information</p>
	</h2>

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Teacher</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${course.getName()}"></td>
					<td
						th:text="${course.getTeacher().getFirstName}+' '+${course.getTeacher().getLastName}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>