<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>University - Add a new Course</title>
</head>
<body>
	<div th:insert="navbar :: bootstrap"></div>
	<div th:insert="navbar :: navbar"></div>
	<h2>Add a new Course</h2>

	<div class="container">
		<div class="row align-items-start">
			<div class="col"></div>
			<div class="col">
				<form class="row" th:action="@{/courses/add}" th:method="POST" th:object="${courseDTO}">
					<label><span class="red">*</span> Course name:</label> 
					<input type="text" th:field="*{name}" class="form-control" />
					<label>Teacher:</label>
					<select name="sel" id="sel" class="form-select" th:onChange="changeTeacher()">
						<option th:each="t : ${listOfTeachers}" th:value="${t}"
							th:text="${t.firstName}+' '+${t.lastName}" />
					</select>
					<input type="hidden" th:field="*{teacher.firstName}" th:value="*{teacher.firstName}" />
					<input type="hidden" th:field="*{teacher.lastName}" th:value="*{teacher.firstName}" />					

					<p>
						<span class="red">*</span> indicates a required field
					</p>
					<button type="submit" class="btn btn-primary mb-3">Add</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
	
	<script th:inline="javascript">
            function changeTeacher() {
                var listOfTeachers = /*[[${listOfTeachers}]]*/ null;
                var t = listOfTeachers[document.getElementById("sel").selectedIndex];
                document.getElementById("teacher.firstName").value=t.firstName;
                document.getElementById("teacher.lastName").value=t.lastName;
            }
            $(function() { changeTeacher(); });
	</script>
</body>
</html>