<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>University - Edit teacher information</title>
</head>
<body>
	<div th:insert="templates/navbar :: bootstrap"></div>
	<div th:insert="templates/navbar :: navbar"></div>
	<h2>Edit teacher information</h2>

	<div class="container">
		<div class="row align-items-start">
			<div class="col"></div>
			<div class="col">
				<form class="row" th:action="@{/teachers/edit/result}" th:method="POST">
					<label><span class="red">*</span> First name:</label>
					<input type="text" th:name="firstName" th:value="${firstName}" class="form-control" />
					<label><span class="red">*</span> Last name:</label> 
					<input type="text" th:name="lastName" th:value="${lastName}" class="form-control" />
					<input type="hidden" th:name="initialFirstName" th:value="${firstName}" />
					<input type="hidden" th:name="initialLastName" th:value="${lastName}" />
					<p>
						<span class="red">*</span> indicates a required field
					</p>
					<button type="submit" class="btn btn-primary mb-3">Update</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
</body>
</html>