<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern> [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
		</encoder>
		<file>errorlog.log</file>
		<append>false</append>
		<immediateFlush>true</immediateFlush>
	</appender>
 	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
      		<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
    	</encoder>
  	</appender>
  	<root level="DEBUG">
    	<appender-ref ref="STDOUT" />
  	</root>
</configuration>