<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>University - Classroom information</title>
</head>
<body>
	<div th:insert="navbar :: bootstrap"></div>
	<div th:insert="navbar :: navbar"></div>
	<h2>Delete a classroom</h2>


	<div class="container">
		<table class="table table-striped" aria-describedby="Delete the Classroom">
			<thead>
				<tr>
					<th scope="col">Name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${classroomDTO.name}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<p class="alert alert-danger text-center" role="alert">"Are you sure you want to delete the classroom?"</p>
		<div class="row align-items-start">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">
				<form class="row" th:action="@{/classrooms/delete/result}"	th:method="POST" th:object="${classroomDTO}">
					<input type="hidden" th:field="*{name}" th:value="${classroomDTO.name}" />
					<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="red" />
					<button type="submit" class="btn btn-danger">Yes, delete!</button>
				</form>
			</div>
			<div class="col">
				<button onclick="goBack()" class="btn btn-primary mb-3">Cancel</button>
			</div>
			<div class="col"></div>
			<div class="col"></div>
		</div>
	</div>
	
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</body>
</html>