<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>University - Edit classroom information</title>
</head>
<body>
	<div th:insert="navbar :: bootstrap"></div>
	<div th:insert="navbar :: navbar"></div>
	<h2>Edit classroom information</h2>

	<div class="container">
		<div class="row align-items-start">
			<div class="col"></div>
			<div class="col">
				<form class="row" th:action="@{/classrooms/edit/result}" th:method="POST">
					<label><span class="red">*</span> Name:</label>
					<input type="text" th:name="name" th:value="${name}" class="form-control" />
					<input type="hidden" th:name="initialName" th:value="${name}" />
					<p>
						<span class="red">*</span> indicates a required field
					</p>
					<button type="submit" class="btn btn-primary mb-3">Update</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
</body>
</html>