<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>University - Find a student by ID</title>
</head>
<body>
	<div th:insert="templates/navbar :: bootstrap"></div>

	<div th:insert="templates/navbar :: navbar"></div>
	<h2>
		<p class="text-center">Find a student by ID</p>
	</h2>

	<div class="container">
		<div class="row align-items-start">
			<div class="col"></div>
			<div class="col">
				<form class="row" th:action="@{/students}" th:method="POST">
					<div class="col-auto">
						<input type="text" th:name="studentID" class="form-control"
							placeholder="Enter a student's ID" />
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-primary mb-3">Find</button>
					</div>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
</body>
</html>